body {
  overflow: hidden;
  background-color: #333;
  height: 100vh;
  color: #FFF;
}

/* Installtion File Style */
.removeInstallFile {
  background-color:  #1abc9c;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 35%;
  padding: 20px;
  border-radius: 3px;
  margin: 10px;
}
.removeInstallFile i {
  position: absolute;
  top: 0;
  padding: 10px;
  right: 0;
  color: #FFF;
  cursor: pointer;
}

.acc-form {
  padding: 100px 0 0;
  font-family: 'Arial', sans-serif;
}
.acc-form .form h1 {
  font-size: 35px;
  color: #FFF;
  margin: 15px 0 15px;
  font-weight: lighter;
  margin-left: 5px;
}
.acc-form section .form { width: 70%; margin: auto; }
.acc-form section .form input {
  background-color: #555;
  border: none;
  color: #FFF;
  border-radius: 1px;
  margin: 5px;
}
.acc-form section .form button {
  text-align: left;
  margin-left: 5px;
  padding: 15px;
}
/* Error Div */
.error {
  background-color: #e74c3c;
  padding: 15px;
  width: 100%;
  margin: 15px auto;
}

@media (max-width: 795px) {
  .acc-form section .form {
    width: 85%;
  }
  .acc-form section .form input {
    width: 95%;
  }
}
